<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/home.js" ></script>


  </head>
  <body>
    <header>
        <nav>
            <ul class="logo-list">
                <li class="logo"> <img src="/images/dh.png" alt=""> </li>
            </ul>
            <ul class="ul-menu">
                <li class="menu-item home"><a class="color-violet" href="home">Inicio</a></li>
                <li class="menu-item"><a class="color-violet" href="seriesGenres">Géneros</a></li>
                <li class="menu-item"><a class="color-violet" href="buscador">Buscador</a></li>
                <li class="menu-item"><a class="color-violet" href="buscaUsuario">Buscador de usuarios</a></li>
                <li class="menu-item"><a class="color-violet" href="usuarios/index">Registrarse</a></li>
                <li class="menu-item"><a class="color-violet" href="login">Mis reseñas</a></li>
                <li class="menu-item search">
                    <form class="" action="resultadoBusqueda" method="GET">
                        <input class="input-search" type="text" name="query" value="">
                        <button class="btn-search" type="submit">Buscar</button>
                    </form>
                </li>

            </ul>
        </nav>
    </header>
    <ul>
    <h3 class="perfil">Estas viendo el perfil del usuario <%= usuario.nombreCompleto %> </h3>
    <br>
    <h3 class="perfil">Email: <%= usuario.email%></h3>
    <br>
    <h3 class="perfil">Fecha de nacimiento:<%= usuario.fechaNacimiento%></h3>
    <h3 class="perfil">Reseñas</h3>
    <li>
      <% if (reviews.length > 0) { %>
        <% for( let i = 0; i < reviews.length; i++ ) { %>
          <h3>Id del usuario<%= reviews[i].usuarioId %></h3>
          <h3><%= reviews[i].textoResena %>, Puntaje: <%= reviews[i].puntaje %>, Agregada el: <%= reviews[i].createdAt %>, Modificada el: <%= reviews[i].updatedAt %></h3>  
                <% } %>
            </li>
        <% } else{ %>
            <h2>No se encontaron reseñas escritas por este usuario</h2>
            <% } %>
  
    <br>
    <footer class="footer">
    <br>
      <p class="footerT">Catalina Cardona  -  Serena Papazian  -  Valentina Socin Casas</p>
   <br>

    </footer>
    <br>
  </body>
</html>