<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/detalle.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/detalle.js" ></script>
  </head>
  <body>
    <header>
        <nav>
            <ul class="logo-list">
                <li class="logo"> <img src="/images/dh.png" alt=""> </li>
            </ul>
            <ul class="ul-menu">
                <li class="menu-item home"><a class="color-violet" href="home">Inicio</a></li>
                <li class="menu-item"><a class="color-violet" href="seriesGenres">Géneros</a></li>
                <li class="menu-item"><a class="color-violet" href="buscador">Buscador</a></li>
                <li class="menu-item"><a class="color-violet" href="buscaUsuario">Buscador de usuarios</a></li>
                <li class="menu-item"><a class="color-violet" href="usuarios/index">Registrarse</a></li>
                <li class="menu-item"><a class="color-violet" href="login">Mis reseñas</a></li>  
                  <li class="menu-item search">
                    <form class="" action="resultadoBusqueda" method="GET">
                        <input class="input-search" type="text" name="query" value="">
                        <button class="btn-search" type="submit" name="">Buscar</button>
                    </form>
                </li>

            </ul>
        </nav>
    </header>
    <main>

      <div class="uk-section">
        <div class="uk-container">
          <div class="uk-grid">
            <div class="uk-width-1-3 imagenSerie">

            </div>
            <div class="uk-width-2-3 dataSerie">

            </div>
          </div>

          <div class="uk-section">
            <div class="seasons">
              <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

                <ul class="listaTemporadas uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                    <!-- <li>
                        <img src="images/slider1.jpg" alt="">
                        <div class="uk-position-center uk-panel"><h1>1</h1></div>
                    </li> -->
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

            </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2>Reseñas</h2>
      </ul>
      <h2>Lista de reseñas</h2>
      <% if (reviews.length > 0) { %>
        <% for( let i = 0; i < reviews.length; i++ ) { %>
          <h3>Id del usuario:<%= reviews[i].usuarioId %>. <%= reviews[i].textoResena %>, Puntaje: <%= reviews[i].puntaje %>, Agregada el <%= reviews[i].createdAt %>, Modificada el: <%= reviews[i].updatedAt %></h3>  
                <% } %>
                <hr>
            </li>
        <% } else{ %>
            <h2>No se encontaron reseñas escritas</h2>
            <% } %>
    </ul> 
      </div>
     <form action="/detalle" method="post">
       <div>
         <input type="hidden" name="idPelicula" value="<%= idPelicula %>">
       </div>
       <div>
         <label for="email">Email</label>
         <input type="email" name="email" name="email">
       </div>
       <div>
        <label for="password">Contraseña</label>
        <input type="password" name="password" name="password">
      </div>
      <div>
        <textarea name="textoResena" id="text" cols="30" rows="10"></textarea>
      </div>
       <div>
         <input type="radio" name="ranking" value="1">
         <label for="">1</label>
         <input type="radio" name="ranking" value="2">
         <label for="">2</label>
         <input type="radio" name="ranking" value="3">
         <label for="">3</label>
         <input type="radio" name="ranking" value="4">
         <label for="">4</label>
         <input type="radio" name="ranking" value="5">
         <label for="">5</label>
         <input type="radio" name="ranking" value="6">
         <label for="">6</label>
         <input type="radio" name="ranking" value="7">
         <label for="">7</label>
         <input type="radio" name="ranking" value="8">
         <label for="">8</label>
         <input type="radio" name="ranking" value="9">
         <label for="">9</label>
         <input type="radio" name="ranking" value="10">
         <label for="">10</label>
       </div>
       <div>
         <input type="submit" value="Enviar">
       </div>
     </form>
    </main>
    <br>
    <footer class="footer">
    <br>
      <p class="footerT">Catalina Cardona  -  Serena Papazian  -  Valentina Socin Casas</p>
   <br>

    </footer>
    <br>
  </body>
</html>
